@import "tailwindcss";

@theme {
  --color-primary-bg: #000000;
  --color-secondary-bg: #171e15;

  --color-red-bg: #bf5454;

  --color-primary-text: #dbdbdb;

  /* Fonts */
  --font-primary: "Inter", sans-serif;

  /* WIP : Work In Progress */
  --color-wip-text: hsl(225, 25%, 81%);
  --color-wip-bg: hsla(218, 100%, 18%, 0.274);
  --color-wip-border: hsl(233, 20%, 36%);
}

[data-theme="light"] {
  --color-primary-bg: #ffffff;
  --color-primary-text: #000000;

  --color-wip-text: hsl(232, 78%, 21%);
  --color-wip-bg: hsla(218, 35%, 58%, 0.315);
  --color-wip-border: hsl(232, 63%, 37%);
}

body {
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
  font-family: var(--font-primary);
  font-size: 1rem;
}
