@import "tailwindcss";

@theme {
  --color-bg-primary: #23272e;
  --color-text-primary: #ffffff;

  /* WIP : Work In Progress */
  --color-wip-text: hsl(225, 25%, 81%);
  --color-wip-bg: hsla(218, 100%, 18%, 0.274);
  --color-wip-border: hsl(233, 20%, 36%);
}

[data-theme="light"] {
  --color-bg-primary: #ffffff;
  --color-text-primary: #000000;

  --color-wip-text: hsl(232, 78%, 21%);
  --color-wip-bg: hsla(218, 35%, 58%, 0.315);
  --color-wip-border: hsl(232, 63%, 37%);
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}
